@import url(https://fonts.googleapis.com/css?family=Russo+One:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Russo One";
  font-size: 2.375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Russo One";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 92.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .hero{
  background: url("../img/hero-bg.png") center 0 repeat-x, #333087; }

.hero {
  color: #fff;
}

.hero__container {
  position: relative;
}

.hero__header {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__logo img {
  width: 100%;
  aspect-ratio: 1/1;
}

.hero__title {
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title span {
  margin-top: 1.75rem;
}

.hero__image-1 {
  position: absolute;
  z-index: 20;
  left: 3.5%;
}

.hero__image-1 img {
  width: 100%;
}

.hero__image-2 {
  position: absolute;
  z-index: 10;
  right: 3.5%;
}

.hero__image-2 img {
  width: 100%;
}

.hero__inner {
  background: #333087;
  padding-top: 0.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
}

.hero__description {
  max-width: 33.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__property {
  max-width: 33.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__icon-1 img {
  width: 100%;
}

.hero__icon-2 img {
  width: 100%;
}

.composition__container {
  height: 100%;
}

.no-webp .composition__inner{
  background: url("../img/composition-1.png") 0 0/contain no-repeat; }

.composition__inner {
  margin: 9.375rem auto 0;
  width: calc(100% - 60px);
  height: 80%;
}

.characteristics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.625rem;
}

.characteristics__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.characteristics__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.characteristics__img img {
  width: 100%;
  aspect-ratio: 1;
}

.characteristics__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 61%;
          flex: 0 1 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.characteristics__title {
  color: #e27601;
}

.characteristics__text {
  line-height: 1.1;
}

.no-webp .comparison{
  background: url("../img/comparison-bg.png") center bottom/100% auto no-repeat, #333087; }

.comparison {
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 21.5625rem;
}

.comparison__title {
  text-transform: uppercase;
  text-align: center;
}

.comparison__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.comparison__image {
  text-align: center;
}

.comparison__image img {
  max-width: 90%;
}

.comparison__model {
  text-align: center;
}

.comparison__subtitle {
  grid-column: 1/-1;
  color: #ee7601;
}

.comparison__item {
  background: #ee7601;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.comparison__slogan {
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}

@media (min-width: 92.5em) {
  .hero__container {
    padding-top: 5.875rem;
  }

  .hero__container {
    padding-bottom: 4.625rem;
  }

  .hero__title {
    margin-top: 2.1875rem;
  }

  .hero__title span {
    margin-top: 1.75rem;
  }

  .hero__image-2 {
    width: 55.625rem;
  }

  .hero__description {
    margin-bottom: 3.75rem;
  }

  .hero__description {
    row-gap: 2.1875rem;
  }

  .hero__subtitle {
    font-size: 3.25rem;
  }

  .hero__text {
    font-size: 2.375rem;
  }

  .hero__icon-1 {
    width: 7.125rem;
  }

  .hero__icon-2 {
    width: 6.75rem;
  }

  .characteristics__content {
    row-gap: 1.5625rem;
  }

  .comparison {
    padding-top: 5rem;
  }

  .comparison {
    padding-bottom: 21.5625rem;
  }

  .comparison__title {
    margin-bottom: 3.125rem;
  }

  .comparison__table {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }

  .comparison__table {
    margin-bottom: 5rem;
  }

  .comparison__image {
    margin-bottom: 2.5rem;
  }

  .comparison__model {
    margin-bottom: 2.8125rem;
  }

  .comparison__subtitle {
    margin-bottom: 1.25rem;
  }

  .comparison__item {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 102.5em) {
  .no-webp .comparison{
    background: url("../img/comparison-bg.png") center bottom/50% auto repeat-x, #333087; }
}

@media (min-width: 96em) {
  .hero__header {
    padding-bottom: 38.625rem;
  }

  .hero__header {
    -webkit-column-gap: 5.375rem;
       -moz-column-gap: 5.375rem;
            column-gap: 5.375rem;
  }

  .hero__logo {
    width: 21.5625rem;
  }

  .hero__title {
    font-size: 3.875rem;
  }

  .hero__title span {
    font-size: 5.25rem;
  }

  .hero__image-1 {
    width: 46.875rem;
  }

  .hero__image-1 {
    top: 34.375rem;
  }

  .hero__image-2 {
    top: 23.75rem;
  }

  .hero__description {
    padding-left: 6.25rem;
  }

  .hero__property {
    padding-left: 6.25rem;
  }

  .composition {
    height: 50rem;
  }

  .characteristics__img {
    width: 31.3125rem;
  }

  .characteristics__title {
    font-size: 3.875rem;
  }

  .characteristics__text {
    font-size: 2.375rem;
  }

  .comparison__title {
    font-size: 4.8125rem;
  }

  .comparison__model {
    font-size: 3.25rem;
  }

  .comparison__subtitle {
    font-size: 2.625rem;
  }

  .comparison__item {
    font-size: 2.375rem;
  }

  .comparison__slogan {
    font-size: 3.25rem;
  }

  .comparison__slogan span {
    font-size: 4.5rem;
  }
}

@media (max-width: 48em) {
  .hero__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .hero__image-1 {
    display: none;
  }

  .hero__image-2 {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    top: 29.375rem;
  }

  .hero__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .hero__description {
    text-align: center;
  }

  .hero__property {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.875rem;
  }

  .hero__property:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .no-webp .composition__inner{
    background: url("../img/composition-3.png") center 0/contain no-repeat; }

  .composition__inner {
    width: 100%;
    margin: 3.125rem auto 0;
  }

  .characteristics__item {
    display: block;
    margin-bottom: 1.875rem;
  }

  .characteristics__img {
    margin: 0 auto 0.9375rem;
  }

  .characteristics__title {
    text-align: center;
  }

  .characteristics__text {
    text-align: center;
  }

  .comparison__title {
    font-size: 3rem;
  }

  .comparison__title {
    display: none;
  }

  .comparison__table {
    display: none;
  }

  .comparison__model {
    font-size: 1.75rem;
  }

  .comparison__subtitle {
    font-size: 1.5625rem;
  }

  .comparison__item {
    font-size: 1.5625rem;
  }

  .comparison__slogan {
    font-size: 1.5625rem;
  }
}

@media (max-width: 20em) {
  .hero__container {
    padding-top: 2rem;
  }

  .hero__container {
    padding-bottom: 2.75rem;
  }

  .hero__header {
    padding-bottom: 15.25rem;
  }

  .hero__logo {
    width: 11.5rem;
  }

  .hero__title {
    margin-top: 1.25rem;
  }

  .hero__title {
    font-size: 1.5625rem;
  }

  .hero__title span {
    margin-top: 0.9375rem;
  }

  .hero__title span {
    font-size: 2.875rem;
  }

  .hero__image-2 {
    width: 17.5rem;
  }

  .hero__description {
    margin-bottom: 2.5rem;
  }

  .hero__description {
    row-gap: 1.375rem;
  }

  .hero__subtitle {
    font-size: 1.5625rem;
  }

  .hero__text {
    font-size: 1.25rem;
  }

  .hero__icon-1 {
    width: 5.3125rem;
  }

  .hero__icon-2 {
    width: 5rem;
  }

  .composition {
    height: 21.125rem;
  }

  .characteristics__img {
    width: 13.75rem;
  }

  .characteristics__content {
    row-gap: 0.9375rem;
  }

  .characteristics__title {
    font-size: 1.5625rem;
  }

  .characteristics__text {
    font-size: 1.125rem;
  }

  .comparison {
    padding-top: 1.875rem;
  }

  .comparison {
    padding-bottom: 6.25rem;
  }

  .comparison__title {
    margin-bottom: 1.875rem;
  }

  .comparison__table {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .comparison__table {
    margin-bottom: 3.125rem;
  }

  .comparison__image {
    margin-bottom: 1.875rem;
  }

  .comparison__model {
    margin-bottom: 1.875rem;
  }

  .comparison__subtitle {
    margin-bottom: 0.9375rem;
  }

  .comparison__item {
    margin-bottom: 0.9375rem;
  }

  .comparison__slogan span {
    font-size: 2.375rem;
  }
}

@media (max-width: 63.9875em) {
  .no-webp .composition__inner{
    background: url("../img/composition-2.png") 0 0/contain no-repeat; }
}

@media (min-width: 20em) and (max-width: 92.5em) {
@supports (padding-top: clamp( 2rem , 0.9310344828rem  +  5.3448275862vw , 5.875rem )) {
    .hero__container {
      padding-top: clamp( 2rem , 0.9310344828rem  +  5.3448275862vw , 5.875rem );
    }
}

@supports not (padding-top: clamp( 2rem , 0.9310344828rem  +  5.3448275862vw , 5.875rem )) {
    .hero__container {
      padding-top: calc(2rem + 3.875 * (100vw - 20rem) / 72.5);
    }
}

@supports (padding-bottom: clamp( 2.75rem , 2.2327586207rem  +  2.5862068966vw , 4.625rem )) {
    .hero__container {
      padding-bottom: clamp( 2.75rem , 2.2327586207rem  +  2.5862068966vw , 4.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.75rem , 2.2327586207rem  +  2.5862068966vw , 4.625rem )) {
    .hero__container {
      padding-bottom: calc(2.75rem + 1.875 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.9913793103rem  +  1.2931034483vw , 2.1875rem )) {
    .hero__title {
      margin-top: clamp( 1.25rem , 0.9913793103rem  +  1.2931034483vw , 2.1875rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.9913793103rem  +  1.2931034483vw , 2.1875rem )) {
    .hero__title {
      margin-top: calc(1.25rem + 0.9375 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.713362069rem  +  1.1206896552vw , 1.75rem )) {
    .hero__title span {
      margin-top: clamp( 0.9375rem , 0.713362069rem  +  1.1206896552vw , 1.75rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.713362069rem  +  1.1206896552vw , 1.75rem )) {
    .hero__title span {
      margin-top: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 72.5);
    }
}

@supports (width: clamp( 17.5rem , 6.9827586207rem  +  52.5862068966vw , 55.625rem )) {
    .hero__image-2 {
      width: clamp( 17.5rem , 6.9827586207rem  +  52.5862068966vw , 55.625rem );
    }
}

@supports not (width: clamp( 17.5rem , 6.9827586207rem  +  52.5862068966vw , 55.625rem )) {
    .hero__image-2 {
      width: calc(17.5rem + 38.125 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.1551724138rem  +  1.724137931vw , 3.75rem )) {
    .hero__description {
      margin-bottom: clamp( 2.5rem , 2.1551724138rem  +  1.724137931vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.1551724138rem  +  1.724137931vw , 3.75rem )) {
    .hero__description {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 72.5);
    }
}

@supports (row-gap: clamp( 1.375rem , 1.150862069rem  +  1.1206896552vw , 2.1875rem )) {
    .hero__description {
      row-gap: clamp( 1.375rem , 1.150862069rem  +  1.1206896552vw , 2.1875rem );
    }
}

@supports not (row-gap: clamp( 1.375rem , 1.150862069rem  +  1.1206896552vw , 2.1875rem )) {
    .hero__description {
      row-gap: calc(1.375rem + 0.8125 * (100vw - 20rem) / 72.5);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.0969827586rem  +  2.3275862069vw , 3.25rem )) {
    .hero__subtitle {
      font-size: clamp( 1.5625rem , 1.0969827586rem  +  2.3275862069vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0969827586rem  +  2.3275862069vw , 3.25rem )) {
    .hero__subtitle {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 20rem) / 72.5);
    }
}

@supports (font-size: clamp( 1.25rem , 0.9396551724rem  +  1.5517241379vw , 2.375rem )) {
    .hero__text {
      font-size: clamp( 1.25rem , 0.9396551724rem  +  1.5517241379vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9396551724rem  +  1.5517241379vw , 2.375rem )) {
    .hero__text {
      font-size: calc(1.25rem + 1.125 * (100vw - 20rem) / 72.5);
    }
}

@supports (width: clamp( 5.3125rem , 4.8125rem  +  2.5vw , 7.125rem )) {
    .hero__icon-1 {
      width: clamp( 5.3125rem , 4.8125rem  +  2.5vw , 7.125rem );
    }
}

@supports not (width: clamp( 5.3125rem , 4.8125rem  +  2.5vw , 7.125rem )) {
    .hero__icon-1 {
      width: calc(5.3125rem + 1.8125 * (100vw - 20rem) / 72.5);
    }
}

@supports (width: clamp( 5rem , 4.5172413793rem  +  2.4137931034vw , 6.75rem )) {
    .hero__icon-2 {
      width: clamp( 5rem , 4.5172413793rem  +  2.4137931034vw , 6.75rem );
    }
}

@supports not (width: clamp( 5rem , 4.5172413793rem  +  2.4137931034vw , 6.75rem )) {
    .hero__icon-2 {
      width: calc(5rem + 1.75 * (100vw - 20rem) / 72.5);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.7650862069rem  +  0.8620689655vw , 1.5625rem )) {
    .characteristics__content {
      row-gap: clamp( 0.9375rem , 0.7650862069rem  +  0.8620689655vw , 1.5625rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.7650862069rem  +  0.8620689655vw , 1.5625rem )) {
    .characteristics__content {
      row-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 72.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0129310345rem  +  4.3103448276vw , 5rem )) {
    .comparison {
      padding-top: clamp( 1.875rem , 1.0129310345rem  +  4.3103448276vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0129310345rem  +  4.3103448276vw , 5rem )) {
    .comparison {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 72.5);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 2.025862069rem  +  21.1206896552vw , 21.5625rem )) {
    .comparison {
      padding-bottom: clamp( 6.25rem , 2.025862069rem  +  21.1206896552vw , 21.5625rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 2.025862069rem  +  21.1206896552vw , 21.5625rem )) {
    .comparison {
      padding-bottom: calc(6.25rem + 15.3125 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5301724138rem  +  1.724137931vw , 3.125rem )) {
    .comparison__title {
      margin-bottom: clamp( 1.875rem , 1.5301724138rem  +  1.724137931vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5301724138rem  +  1.724137931vw , 3.125rem )) {
    .comparison__title {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 72.5);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem )) or (column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem ))) {
    .comparison__table {
      -webkit-column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem );
         -moz-column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem );
              column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem )) or (column-gap: clamp( 0.9375rem , 0.8857758621rem  +  0.2586206897vw , 1.125rem ))) {
    .comparison__table {
      -webkit-column-gap: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 72.5);
         -moz-column-gap: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 72.5);
              column-gap: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.6077586207rem  +  2.5862068966vw , 5rem )) {
    .comparison__table {
      margin-bottom: clamp( 3.125rem , 2.6077586207rem  +  2.5862068966vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.6077586207rem  +  2.5862068966vw , 5rem )) {
    .comparison__table {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.7025862069rem  +  0.8620689655vw , 2.5rem )) {
    .comparison__image {
      margin-bottom: clamp( 1.875rem , 1.7025862069rem  +  0.8620689655vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.7025862069rem  +  0.8620689655vw , 2.5rem )) {
    .comparison__image {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6163793103rem  +  1.2931034483vw , 2.8125rem )) {
    .comparison__model {
      margin-bottom: clamp( 1.875rem , 1.6163793103rem  +  1.2931034483vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6163793103rem  +  1.2931034483vw , 2.8125rem )) {
    .comparison__model {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem )) {
    .comparison__subtitle {
      margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem )) {
    .comparison__subtitle {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 72.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem )) {
    .comparison__item {
      margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8512931034rem  +  0.4310344828vw , 1.25rem )) {
    .comparison__item {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 72.5);
    }
}
}

@media (min-width: 64em) and (max-width: 96em) {
@supports (padding-bottom: clamp( 25.25rem , -1.5rem  +  41.796875vw , 38.625rem )) {
    .hero__header {
      padding-bottom: clamp( 25.25rem , -1.5rem  +  41.796875vw , 38.625rem );
    }
}

@supports not (padding-bottom: clamp( 25.25rem , -1.5rem  +  41.796875vw , 38.625rem )) {
    .hero__header {
      padding-bottom: calc(25.25rem + 13.375 * (100vw - 64rem) / 32);
    }
}

@supports (width: clamp( 15.375rem , 3rem  +  19.3359375vw , 21.5625rem )) {
    .hero__logo {
      width: clamp( 15.375rem , 3rem  +  19.3359375vw , 21.5625rem );
    }
}

@supports not (width: clamp( 15.375rem , 3rem  +  19.3359375vw , 21.5625rem )) {
    .hero__logo {
      width: calc(15.375rem + 6.1875 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 2.625rem , 0.125rem  +  3.90625vw , 3.875rem )) {
    .hero__title {
      font-size: clamp( 2.625rem , 0.125rem  +  3.90625vw , 3.875rem );
    }
}

@supports not (font-size: clamp( 2.625rem , 0.125rem  +  3.90625vw , 3.875rem )) {
    .hero__title {
      font-size: calc(2.625rem + 1.25 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 3.5rem , 0.0000000625rem  +  5.46875vw , 5.25rem )) {
    .hero__title span {
      font-size: clamp( 3.5rem , 0.0000000625rem  +  5.46875vw , 5.25rem );
    }
}

@supports not (font-size: clamp( 3.5rem , 0.0000000625rem  +  5.46875vw , 5.25rem )) {
    .hero__title span {
      font-size: calc(3.5rem + 1.75 * (100vw - 64rem) / 32);
    }
}

@supports (height: clamp( 47.1875rem , 41.5625rem  +  8.7890625vw , 50rem )) {
    .composition {
      height: clamp( 47.1875rem , 41.5625rem  +  8.7890625vw , 50rem );
    }
}

@supports not (height: clamp( 47.1875rem , 41.5625rem  +  8.7890625vw , 50rem )) {
    .composition {
      height: calc(47.1875rem + 2.8125 * (100vw - 64rem) / 32);
    }
}

@supports (width: clamp( 20.125rem , -2.25rem  +  34.9609375vw , 31.3125rem )) {
    .characteristics__img {
      width: clamp( 20.125rem , -2.25rem  +  34.9609375vw , 31.3125rem );
    }
}

@supports not (width: clamp( 20.125rem , -2.25rem  +  34.9609375vw , 31.3125rem )) {
    .characteristics__img {
      width: calc(20.125rem + 11.1875 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 2.1875rem , -1.1875rem  +  5.2734375vw , 3.875rem )) {
    .characteristics__title {
      font-size: clamp( 2.1875rem , -1.1875rem  +  5.2734375vw , 3.875rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , -1.1875rem  +  5.2734375vw , 3.875rem )) {
    .characteristics__title {
      font-size: calc(2.1875rem + 1.6875 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 1.75rem , 0.5rem  +  1.953125vw , 2.375rem )) {
    .characteristics__text {
      font-size: clamp( 1.75rem , 0.5rem  +  1.953125vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.5rem  +  1.953125vw , 2.375rem )) {
    .characteristics__text {
      font-size: calc(1.75rem + 0.625 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 3.375rem , 0.5rem  +  4.4921875vw , 4.8125rem )) {
    .comparison__title {
      font-size: clamp( 3.375rem , 0.5rem  +  4.4921875vw , 4.8125rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 0.5rem  +  4.4921875vw , 4.8125rem )) {
    .comparison__title {
      font-size: calc(3.375rem + 1.4375 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 2.1875rem , 0.0625rem  +  3.3203125vw , 3.25rem )) {
    .comparison__model {
      font-size: clamp( 2.1875rem , 0.0625rem  +  3.3203125vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 0.0625rem  +  3.3203125vw , 3.25rem )) {
    .comparison__model {
      font-size: calc(2.1875rem + 1.0625 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 1.8125rem , 0.1875rem  +  2.5390625vw , 2.625rem )) {
    .comparison__subtitle {
      font-size: clamp( 1.8125rem , 0.1875rem  +  2.5390625vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.8125rem , 0.1875rem  +  2.5390625vw , 2.625rem )) {
    .comparison__subtitle {
      font-size: calc(1.8125rem + 0.8125 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 1.8125rem , 0.6875rem  +  1.7578125vw , 2.375rem )) {
    .comparison__item {
      font-size: clamp( 1.8125rem , 0.6875rem  +  1.7578125vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.8125rem , 0.6875rem  +  1.7578125vw , 2.375rem )) {
    .comparison__item {
      font-size: calc(1.8125rem + 0.5625 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 2.25rem , 0.25rem  +  3.125vw , 3.25rem )) {
    .comparison__slogan {
      font-size: clamp( 2.25rem , 0.25rem  +  3.125vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 0.25rem  +  3.125vw , 3.25rem )) {
    .comparison__slogan {
      font-size: calc(2.25rem + 1 * (100vw - 64rem) / 32);
    }
}

@supports (font-size: clamp( 3.125rem , 0.375rem  +  4.296875vw , 4.5rem )) {
    .comparison__slogan span {
      font-size: clamp( 3.125rem , 0.375rem  +  4.296875vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 0.375rem  +  4.296875vw , 4.5rem )) {
    .comparison__slogan span {
      font-size: calc(3.125rem + 1.375 * (100vw - 64rem) / 32);
    }
}
}

@media (min-width: 20em) and (max-width: 63.9875em) {
@supports (padding-bottom: clamp( 15.25rem , 10.7032537653rem  +  22.7337311736vw , 25.25rem )) {
    .hero__header {
      padding-bottom: clamp( 15.25rem , 10.7032537653rem  +  22.7337311736vw , 25.25rem );
    }
}

@supports not (padding-bottom: clamp( 15.25rem , 10.7032537653rem  +  22.7337311736vw , 25.25rem )) {
    .hero__header {
      padding-bottom: calc(15.25rem + 10 * (100vw - 20rem) / 43.9875);
    }
}

@supports (width: clamp( 11.5rem , 9.738135834rem  +  8.8093208298vw , 15.375rem )) {
    .hero__logo {
      width: clamp( 11.5rem , 9.738135834rem  +  8.8093208298vw , 15.375rem );
    }
}

@supports not (width: clamp( 11.5rem , 9.738135834rem  +  8.8093208298vw , 15.375rem )) {
    .hero__logo {
      width: calc(11.5rem + 3.875 * (100vw - 20rem) / 43.9875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.0794082126rem  +  2.4154589372vw , 2.625rem )) {
    .hero__title {
      font-size: clamp( 1.5625rem , 1.0794082126rem  +  2.4154589372vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.0794082126rem  +  2.4154589372vw , 2.625rem )) {
    .hero__title {
      font-size: calc(1.5625rem + 1.0625 * (100vw - 20rem) / 43.9875);
    }
}

@supports (font-size: clamp( 2.875rem , 2.5908283603rem  +  1.4208581984vw , 3.5rem )) {
    .hero__title span {
      font-size: clamp( 2.875rem , 2.5908283603rem  +  1.4208581984vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2.875rem , 2.5908283603rem  +  1.4208581984vw , 3.5rem )) {
    .hero__title span {
      font-size: calc(2.875rem + 0.625 * (100vw - 20rem) / 43.9875);
    }
}

@supports (height: clamp( 21.125rem , 9.2750426257rem  +  59.2497868713vw , 47.1875rem )) {
    .composition {
      height: clamp( 21.125rem , 9.2750426257rem  +  59.2497868713vw , 47.1875rem );
    }
}

@supports not (height: clamp( 21.125rem , 9.2750426257rem  +  59.2497868713vw , 47.1875rem )) {
    .composition {
      height: calc(21.125rem + 26.0625 * (100vw - 20rem) / 43.9875);
    }
}

@supports (width: clamp( 13.75rem , 10.8514492754rem  +  14.4927536232vw , 20.125rem )) {
    .characteristics__img {
      width: clamp( 13.75rem , 10.8514492754rem  +  14.4927536232vw , 20.125rem );
    }
}

@supports not (width: clamp( 13.75rem , 10.8514492754rem  +  14.4927536232vw , 20.125rem )) {
    .characteristics__img {
      width: calc(13.75rem + 6.375 * (100vw - 20rem) / 43.9875);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.2783283603rem  +  1.4208581984vw , 2.1875rem )) {
    .characteristics__title {
      font-size: clamp( 1.5625rem , 1.2783283603rem  +  1.4208581984vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.2783283603rem  +  1.4208581984vw , 2.1875rem )) {
    .characteristics__title {
      font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 43.9875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8408283603rem  +  1.4208581984vw , 1.75rem )) {
    .characteristics__text {
      font-size: clamp( 1.125rem , 0.8408283603rem  +  1.4208581984vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8408283603rem  +  1.4208581984vw , 1.75rem )) {
    .characteristics__text {
      font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 43.9875);
    }
}

@supports (font-size: clamp( 2.375rem , 2.0339940324rem  +  1.705029838vw , 3.125rem )) {
    .comparison__slogan span {
      font-size: clamp( 2.375rem , 2.0339940324rem  +  1.705029838vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.0339940324rem  +  1.705029838vw , 3.125rem )) {
    .comparison__slogan span {
      font-size: calc(2.375rem + 0.75 * (100vw - 20rem) / 43.9875);
    }
}
}

@media (min-width: 48em) and (max-width: 96em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem )) or (column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem ))) {
    .hero__header {
      -webkit-column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem );
         -moz-column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem );
              column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem )) or (column-gap: clamp( 0.9375rem , -3.5rem  +  9.2447916667vw , 5.375rem ))) {
    .hero__header {
      -webkit-column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 48);
         -moz-column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 48);
              column-gap: calc(0.9375rem + 4.4375 * (100vw - 48rem) / 48);
    }
}

@supports (width: clamp( 28.125rem , 9.375rem  +  39.0625vw , 46.875rem )) {
    .hero__image-1 {
      width: clamp( 28.125rem , 9.375rem  +  39.0625vw , 46.875rem );
    }
}

@supports not (width: clamp( 28.125rem , 9.375rem  +  39.0625vw , 46.875rem )) {
    .hero__image-1 {
      width: calc(28.125rem + 18.75 * (100vw - 48rem) / 48);
    }
}

@supports (top: clamp( 20rem , 5.625rem  +  29.9479166667vw , 34.375rem )) {
    .hero__image-1 {
      top: clamp( 20rem , 5.625rem  +  29.9479166667vw , 34.375rem );
    }
}

@supports not (top: clamp( 20rem , 5.625rem  +  29.9479166667vw , 34.375rem )) {
    .hero__image-1 {
      top: calc(20rem + 14.375 * (100vw - 48rem) / 48);
    }
}

@supports (top: clamp( 16.875rem , 10rem  +  14.3229166667vw , 23.75rem )) {
    .hero__image-2 {
      top: clamp( 16.875rem , 10rem  +  14.3229166667vw , 23.75rem );
    }
}

@supports not (top: clamp( 16.875rem , 10rem  +  14.3229166667vw , 23.75rem )) {
    .hero__image-2 {
      top: calc(16.875rem + 6.875 * (100vw - 48rem) / 48);
    }
}

@supports (padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem )) {
    .hero__description {
      padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem )) {
    .hero__description {
      padding-left: calc(1.875rem + 4.375 * (100vw - 48rem) / 48);
    }
}

@supports (padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem )) {
    .hero__property {
      padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -2.5rem  +  9.1145833333vw , 6.25rem )) {
    .hero__property {
      padding-left: calc(1.875rem + 4.375 * (100vw - 48rem) / 48);
    }
}
}

@media (min-width: 48em) and (max-width: 63.9875em) {
@supports (font-size: clamp( 3rem , 1.8741204066rem  +  2.3455824863vw , 3.375rem )) {
    .comparison__title {
      font-size: clamp( 3rem , 1.8741204066rem  +  2.3455824863vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 3rem , 1.8741204066rem  +  2.3455824863vw , 3.375rem )) {
    .comparison__title {
      font-size: calc(3rem + 0.375 * (100vw - 48rem) / 15.9875);
    }
}

@supports (font-size: clamp( 1.75rem , 0.4364738077rem  +  2.7365129007vw , 2.1875rem )) {
    .comparison__model {
      font-size: clamp( 1.75rem , 0.4364738077rem  +  2.7365129007vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.4364738077rem  +  2.7365129007vw , 2.1875rem )) {
    .comparison__model {
      font-size: calc(1.75rem + 0.4375 * (100vw - 48rem) / 15.9875);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem )) {
    .comparison__subtitle {
      font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem )) {
    .comparison__subtitle {
      font-size: calc(1.5625rem + 0.25 * (100vw - 48rem) / 15.9875);
    }
}

@supports (font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem )) {
    .comparison__item {
      font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 0.8119136044rem  +  1.5637216575vw , 1.8125rem )) {
    .comparison__item {
      font-size: calc(1.5625rem + 0.25 * (100vw - 48rem) / 15.9875);
    }
}

@supports (font-size: clamp( 1.5625rem , -0.501612588rem  +  4.3002345582vw , 2.25rem )) {
    .comparison__slogan {
      font-size: clamp( 1.5625rem , -0.501612588rem  +  4.3002345582vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , -0.501612588rem  +  4.3002345582vw , 2.25rem )) {
    .comparison__slogan {
      font-size: calc(1.5625rem + 0.6875 * (100vw - 48rem) / 15.9875);
    }
}
}

.webp .hero{ background: url(../img/hero-bg.webp) center 0 repeat-x, #333087; }

.webp .composition__inner{ background: url(../img/composition-1.webp) 0 0/contain no-repeat; }

.webp .comparison{ background: url(../img/comparison-bg.webp) center bottom/100% auto no-repeat, #333087; }

@media (min-width: 102.5em){

  .webp .comparison{ background: url(../img/comparison-bg.webp) center bottom/50% auto repeat-x, #333087; }
}

@media (max-width: 48em){

  .webp .composition__inner{ background: url(../img/composition-3.webp) center 0/contain no-repeat; }
}

@media (max-width: 63.9875em){

  .webp .composition__inner{ background: url(../img/composition-2.webp) 0 0/contain no-repeat; }
}