@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Conthrax Sb";
  font-display: swap;
  src: url("../fonts/ConthraxSb-Regular.woff2") format("woff2"), url("../fonts/ConthraxSb-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Conthrax Sb";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Conthrax Sb";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp .header{
  background: url("../img/header.jpg") center no-repeat; }

.header {
  height: 170px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page__hero {
  margin-bottom: 2.875rem;
}

.no-webp .hero{
  background: url("../img/hero-bgnd.jpg") center top no-repeat, #075907; }

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: #ffffff;
  font-weight: 600;
  padding-top: 4.25rem;
  padding-bottom: 5.1875rem;
}

.hero__title {
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1.1875rem;
}

.hero__title span {
  color: #e5eb0b;
}

.hero__description {
  line-height: 1.217;
  margin-bottom: 1.875rem;
  max-width: 27.8125rem;
}

.hero__image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/span 4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.hero__image img {
  display: block;
  max-width: 40.625rem;
  width: 100%;
}

.hero__list {
  font-size: 0.875rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.hero__list-item {
  position: relative;
  padding-left: 2.125rem;
}

.hero__list-item:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.hero__list-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__list-item:nth-child(1)::before {
  background: url("../img/sprout.svg") center no-repeat;
}

.hero__list-item:nth-child(2)::before {
  background: url("../img/shield.svg") center no-repeat;
}

.hero__list-item:nth-child(3)::before {
  background: url("../img/flower.svg") center no-repeat;
}

.hero__button {
  display: block;
  font-weight: 600;
  background-color: #e5eb0b;
  color: #000000;
  border-radius: 28px;
  max-width: 27.8125rem;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.no-webp .efficiency__list{
  background: url("../img/efficiency-1.png") 0 0 no-repeat; }

.efficiency__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.375rem;
}

.efficiency__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.4375rem;
          flex: 0 1 18.4375rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.efficiency__value {
  font-weight: 600;
  font-size: 2.8125rem;
  line-height: 1.217;
  color: #075807;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.efficiency__value span {
  font-size: 2rem;
}

.efficiency__info {
  font-family: "Inter";
  font-size: 1.375rem;
  line-height: 1.227;
  color: #0A0A0A;
  text-align: center;
  max-width: 16.1875rem;
}

.efficiency :nth-child(4) span {
  font-size: 0.75rem;
}

.section-title {
  font-weight: 600;
  line-height: 1.217;
  color: #000000;
  text-transform: uppercase;
}

.calculation {
  background: -webkit-gradient(linear, left top, left bottom, from(#B0D0E4), to(rgba(255, 255, 255, 0))) 0 126px no-repeat;
  background: linear-gradient(180deg, #B0D0E4 0%, rgba(255, 255, 255, 0) 100%) 0 126px no-repeat;
}

.calculation__title {
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.217;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 1.8125rem;
}

.no-webp .calculation__form{
  background: url("../img/calc-bgnd.png") 0 0 no-repeat; }

.calculation__form {
  padding-top: 3.71875rem;
  padding-bottom: 3.985625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 28px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.3125rem;
     -moz-column-gap: 1.3125rem;
          column-gap: 1.3125rem;
  row-gap: 0.850625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 36.3125rem;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17.5rem;
          flex: 1 1 17.5rem;
  font-family: "Inter";
  font-size: 1.0625rem;
  line-height: 1.235;
  height: 3.03875rem;
  border-radius: 28px;
  padding-left: 1.1875rem;
}

.form__button {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.3125rem;
          flex: 0 1 36.3125rem;
  height: 3.03875rem;
  font-weight: 600;
  line-height: 1.217;
  background: #e5eb0b;
  width: 36.3125rem;
  border-radius: 28px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 76.25em) {
  .page__efficiency {
    margin-bottom: 6.1875rem;
  }

  .page__calculation {
    padding-bottom: 6.1875rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    font-size: 1.1875rem;
  }

  .hero__button {
    font-size: 1.0625rem;
  }

  .hero__button {
    padding-top: 1.0625rem;
  }

  .hero__button {
    padding-bottom: 1.0625rem;
  }

  .efficiency__title {
    margin-bottom: 3.375rem;
  }

  .section-title {
    font-size: 1.875rem;
  }

  .calculation__title {
    margin-bottom: 2rem;
  }

  .form__inputs {
    margin-bottom: 1.07625rem;
  }

  .form__button {
    font-size: 1.0625rem;
  }
}

@media (max-width: 20em) {
  .page__efficiency {
    margin-bottom: 5.125rem;
  }

  .page__calculation {
    padding-bottom: 3.5625rem;
  }

  .hero__title {
    font-size: 1.5625rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__button {
    font-size: 0.9375rem;
  }

  .hero__button {
    padding-top: 1.15625rem;
  }

  .hero__button {
    padding-bottom: 1.15625rem;
  }

  .efficiency__title {
    margin-bottom: 2.4375rem;
  }

  .section-title {
    font-size: 1.5625rem;
  }

  .calculation__title {
    margin-bottom: 1.5625rem;
  }

  .form__inputs {
    margin-bottom: 0.946875rem;
  }

  .form__button {
    font-size: 0.9375rem;
  }
}

@media (max-width: 76.25em) {
  .no-webp .efficiency__list{
    background: url("../img/efficiency-2.png") 0 0 no-repeat; }
}

@media (max-width: 57.8125em) {
  .no-webp .efficiency__list{
    background: url("../img/efficiency-3.png") 0 0 no-repeat; }
}

@media (max-width: 47.99875em) {
  .no-webp .hero{
    background: url("../img/hero-bg-3.jpg") left top no-repeat; }

  .hero__container {
    display: block;
  }

  .hero__description {
    max-width: 100%;
  }

  .hero__image img {
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  .hero__image {
    margin-top: 3.3125rem;
    margin-bottom: 5rem;
  }

  .hero__button {
    max-width: 100%;
  }

  .efficiency__info span {
    display: none;
  }

  .calculation__title {
    padding-left: 0rem;
  }

  .no-webp .calculation__form{
    background: url("../img/calc-bgnd-2.png") 0 bottom/cover no-repeat; }

  .calculation__form {
    height: 36.5625rem;
  }

  .calculation__form {
    width: calc(100% + 40px);
    -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  .form__inputs {
    max-width: 100%;
  }

  .form__button {
    width: 100%;
  }
}

@media (max-width: 39.3125em) {
  .no-webp .efficiency__list{
    background: url("../img/efficiency-4.png") 0 0 no-repeat; }
}

@media (min-width: 20em) and (max-width: 76.25em) {
@supports (margin-bottom: clamp( 5.125rem , 4.7472222222rem  +  1.8888888889vw , 6.1875rem )) {
    .page__efficiency {
      margin-bottom: clamp( 5.125rem , 4.7472222222rem  +  1.8888888889vw , 6.1875rem );
    }
}

@supports not (margin-bottom: clamp( 5.125rem , 4.7472222222rem  +  1.8888888889vw , 6.1875rem )) {
    .page__efficiency {
      margin-bottom: calc(5.125rem + 1.0625 * (100vw - 20rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 3.5625rem , 2.6291666667rem  +  4.6666666667vw , 6.1875rem )) {
    .page__calculation {
      padding-bottom: clamp( 3.5625rem , 2.6291666667rem  +  4.6666666667vw , 6.1875rem );
    }
}

@supports not (padding-bottom: clamp( 3.5625rem , 2.6291666667rem  +  4.6666666667vw , 6.1875rem )) {
    .page__calculation {
      padding-bottom: calc(3.5625rem + 2.625 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
    .hero__title {
      font-size: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
    .hero__title {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1rem , 0.9333333333rem  +  0.3333333333vw , 1.1875rem )) {
    .hero__description {
      font-size: clamp( 1rem , 0.9333333333rem  +  0.3333333333vw , 1.1875rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9333333333rem  +  0.3333333333vw , 1.1875rem )) {
    .hero__description {
      font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .hero__button {
      font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .hero__button {
      font-size: calc(0.9375rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

@supports (padding-top: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem )) {
    .hero__button {
      padding-top: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem );
    }
}

@supports not (padding-top: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem )) {
    .hero__button {
      padding-top: calc(1.15625rem + -0.09375 * (100vw - 20rem) / 56.25);
    }
}

@supports (padding-bottom: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem )) {
    .hero__button {
      padding-bottom: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem );
    }
}

@supports not (padding-bottom: clamp( 1.0625rem , 1.1895833333rem  +  -0.1666666667vw , 1.15625rem )) {
    .hero__button {
      padding-bottom: calc(1.15625rem + -0.09375 * (100vw - 20rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 2.4375rem , 2.1041666667rem  +  1.6666666667vw , 3.375rem )) {
    .efficiency__title {
      margin-bottom: clamp( 2.4375rem , 2.1041666667rem  +  1.6666666667vw , 3.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.4375rem , 2.1041666667rem  +  1.6666666667vw , 3.375rem )) {
    .efficiency__title {
      margin-bottom: calc(2.4375rem + 0.9375 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.4513888889rem  +  0.5555555556vw , 1.875rem )) {
    .section-title {
      font-size: clamp( 1.5625rem , 1.4513888889rem  +  0.5555555556vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.4513888889rem  +  0.5555555556vw , 1.875rem )) {
    .section-title {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4069444444rem  +  0.7777777778vw , 2rem )) {
    .calculation__title {
      margin-bottom: clamp( 1.5625rem , 1.4069444444rem  +  0.7777777778vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4069444444rem  +  0.7777777778vw , 2rem )) {
    .calculation__title {
      margin-bottom: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 56.25);
    }
}

@supports (margin-bottom: clamp( 0.946875rem , 0.900875rem  +  0.23vw , 1.07625rem )) {
    .form__inputs {
      margin-bottom: clamp( 0.946875rem , 0.900875rem  +  0.23vw , 1.07625rem );
    }
}

@supports not (margin-bottom: clamp( 0.946875rem , 0.900875rem  +  0.23vw , 1.07625rem )) {
    .form__inputs {
      margin-bottom: calc(0.946875rem + 0.129375 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .form__button {
      font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8930555556rem  +  0.2222222222vw , 1.0625rem )) {
    .form__button {
      font-size: calc(0.9375rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}
}

@media (min-width: 20em) and (max-width: 47.99875em) {
@supports (width: clamp( 18.75rem , 9.8210299567rem  +  44.6448502165vw , 31.25rem )) {
    .hero__image img {
      width: clamp( 18.75rem , 9.8210299567rem  +  44.6448502165vw , 31.25rem );
    }
}

@supports not (width: clamp( 18.75rem , 9.8210299567rem  +  44.6448502165vw , 31.25rem )) {
    .hero__image img {
      width: calc(18.75rem + 12.5 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (any-hover: hover) {
  .hero__button:hover {
    background-color: #a0a408;
    color: #ffffff;
  }

  .form__button:hover {
    background-color: #a0a408;
    color: #ffffff;
  }
}

.webp .header{ background: url(../img/header.webp) center no-repeat; }

.webp .hero{ background: url(../img/hero-bgnd.webp) center top no-repeat, #075907; }

.webp .efficiency__list{ background: url(../img/efficiency-1.webp) 0 0 no-repeat; }

.webp .calculation__form{ background: url(../img/calc-bgnd.webp) 0 0 no-repeat; }

@media (max-width: 76.25em){

  .webp .efficiency__list{ background: url(../img/efficiency-2.webp) 0 0 no-repeat; }
}

@media (max-width: 57.8125em){

  .webp .efficiency__list{ background: url(../img/efficiency-3.webp) 0 0 no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .hero{ background: url(../img/hero-bg-3.webp) left top no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .calculation__form{ background: url(../img/calc-bgnd-2.webp) 0 bottom/cover no-repeat; }
}

@media (max-width: 39.3125em){

  .webp .efficiency__list{ background: url(../img/efficiency-4.webp) 0 0 no-repeat; }
}