@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #25282B;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  padding: 1.125rem 0.3125rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.3125rem;
  width: 12.1875rem;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button--filled {
  color: #F9F9FA;
  background-color: #697B03;
  border-color: #697B03;
}

.button--framed-olive {
  color: #697B03;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #697B03;
}

.button--framed-brown {
  color: #7e4e24;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #7e4e24;
}

.section-title {
  display: inline-block;
  position: relative;
  color: #7e4e24;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.31;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  padding-top: 1.875rem;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  display: inline-block;
  width: 8.625rem;
  height: 0.9375rem;
  background: url("../img/title-decor.svg") 0 0 no-repeat;
}

.section-text {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.typical-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typical-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.25rem;
          flex: 0 1 38.25rem;
  text-align: center;
}

.typical-block__image img {
  max-width: 100%;
}

.typical-block__text {
  max-width: 28.125rem;
}

.read-more {
  position: relative;
  color: #7e4e24;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.read-more::before {
  content: "";
  background-color: #697B03;
  position: absolute;
  bottom: -0.4375rem;
  left: 0;
  height: 0.09375rem;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.read-more:hover,
.read-more:active {
  color: #697B03;
}

.read-more:hover::before,
.read-more:active::before {
  width: 100%;
}

.title {
  position: relative;
  z-index: 2;
  color: #697B03;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: 0.2px;
  margin-bottom: 1.25rem;
}

.title span {
  color: #7e4e24;
}

.descript,
.text {
  position: relative;
  z-index: 2;
  color: #7e4e24;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._header-scroll {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

._header-show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: rgba(105, 123, 3, 0.4901960784);
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.0625rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  position: relative;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #7e4e24;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link::before {
  content: "";
  background-color: #697B03;
  position: absolute;
  bottom: -0.4375rem;
  left: 0;
  height: 0.09375rem;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover,
.menu__link:active {
  color: #697B03;
}

.menu__link:hover::before,
.menu__link:active::before {
  width: 100%;
}

.icon-user {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
}

.icon-user img {
  max-height: 2.1875rem;
}

.footer {
  background-color: rgba(78, 71, 72, 0.0509803922);
}

.footer-navigation {
  padding-top: 8.5625rem;
  color: #697B03;
}

.footer-navigation__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.5625rem;
  -ms-grid-columns: auto auto minmax(auto, 310px) minmax(auto, 310px);
  grid-template-columns: auto auto minmax(auto, 310px) minmax(auto, 310px);
}

.footer-navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-navigation__link::before {
  content: "";
  background-color: #697B03;
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  height: 0.09375rem;
  width: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-navigation__link:hover,
.footer-navigation__link:active {
  color: #697B03;
}

.footer-navigation__link:hover::before,
.footer-navigation__link:active::before {
  width: 100%;
}

.footer-navigation__title {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.footer-navigation__text {
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.1px;
}

.footer-navigation__button:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.footer-navigation__small-text {
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0.2px;
  max-width: 18.75rem;
}

.footer-remark {
  max-width: 82.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  color: #697B03;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.footer-bottom {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.1px;
  background-color: #697B03;
}

.footer-bottom__container-big {
  max-width: 82.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__menu {
  text-align: center;
}

.footer-bottom__logo {
  max-width: 8.25rem;
}

.footer-bottom__logo:hover svg path {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  fill: #cbdd7a;
}

.footer-bottom__actives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  row-gap: 0.5rem;
}

.footer-bottom__copy {
  white-space: nowrap;
}

.footer-bottom__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.footer-bottom__social:hover svg path {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  fill: #cbdd7a;
}

.menu-bottom__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-bottom__item:not(:last-child) ::after {
  cursor: auto;
  content: "/";
  padding-left: 0.5rem;
}

.menu-bottom__link {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-bottom__link:hover {
  color: #cbdd7a;
}

.page__insertion img {
  display: block;
  margin: 0 auto;
  width: 62.5rem;
  max-width: 100%;
}

.page__whatwedo {
  margin-bottom: 1.875rem;
}

.no-webp .hero{
  background: url(../img/hero-bg.png) center top/100% 100% no-repeat; }

.hero__container {
  position: relative;
}

.hero__descript {
  margin-bottom: 0.3125rem;
}

.hero__title {
  position: relative;
  z-index: 2;
  color: #697B03;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: 0.2px;
  margin-bottom: 1.25rem;
}

.hero__title span {
  color: #7e4e24;
}

.hero__decor {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: -9%;
  max-width: 37%;
  -webkit-animation: olives-rotate 1s linear;
          animation: olives-rotate 1s linear;
}

.hero__decor img {
  width: 100%;
}

@-webkit-keyframes olives-rotate {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes olives-rotate {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.hero__descript,
.hero__text {
  max-width: 29.375rem;
}

.whatwedo__image {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatwedo__image img {
  width: 100%;
  max-width: 54.8125rem;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.whatwedo__link {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.whatwedo__link:hover svg rect {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  fill: #697B03;
}

.no-webp .instagram{
  background: url(../img/health-bg.jpg) center top/100% 100% no-repeat; }

.instagram__quote {
  font-weight: 300;
  line-height: 1.23;
}

.instagram__signing {
  font-weight: 500;
  line-height: 1.33;
}

.instagram__quote,
.instagram__signing {
  text-align: center;
  color: #7e4e24;
  letter-spacing: 0.2px;
}

.instagram__button {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 0 0 auto;
}

.no-webp .cta{
  background: url(../img/letsdo-bg.png) center top/100% 100% no-repeat; }

.cta__container-large {
  max-width: 84.25rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: -ms-grid;
  display: grid;
}

.cta__decor {
  grid-row: 1/-1;
  grid-column: 1/-1;
  max-width: 88%;
}

.cta__decor img {
  max-width: 100%;
}

.cta__content {
  max-width: 38.125rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.cta__text {
  max-width: 29.375rem;
  margin: 0 auto 1.875rem;
}

@media (min-width: 47.998125em) {
  .header__container {
    gap: 3.75rem;
  }
}

@media (min-width: 59.37625em) {
  .whatwedo__container {
    text-align: center;
  }
}

@media (min-width: 70.625em) {
  .typical-block__container {
    gap: 3.25rem;
  }

  .header__container {
    gap: 3rem;
  }

  .menu__list {
    -webkit-column-gap: 1.6875rem;
       -moz-column-gap: 1.6875rem;
            column-gap: 1.6875rem;
  }
}

@media (min-width: 72.5em) {
  .section-title {
    font-size: 2rem;
  }

  .typical-block__title {
    margin-bottom: 3rem;
  }

  .typical-block__text {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 2.75rem;
  }

  .header {
    padding-top: 4rem;
  }

  .header {
    padding-bottom: 4rem;
  }

  .header__logo {
    width: 9.125rem;
  }

  .footer-navigation {
    padding-bottom: 1.25rem;
  }

  .footer-navigation__item:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .footer-navigation__text:not(:last-child) {
    margin-bottom: 1.0625rem;
  }

  .footer-remark {
    padding-top: 1.8125rem;
  }

  .footer-remark {
    padding-bottom: 1.8125rem;
  }

  .footer-bottom__container-big {
    padding-top: 2.25rem;
  }

  .footer-bottom__container-big {
    padding-bottom: 2.25rem;
  }

  .page__insertion {
    margin-bottom: 6.25rem;
  }

  .page__whoweare {
    margin-bottom: 7.8125rem;
  }

  .page__instagram {
    margin-bottom: 7rem;
  }

  .page__product {
    margin-bottom: 9rem;
  }

  .hero__container {
    padding-top: 16.25rem;
  }

  .hero__container {
    padding-bottom: 15.625rem;
  }

  .hero__title {
    font-size: 2.75rem;
  }

  .whatwedo__title {
    margin-bottom: 3.4375rem;
  }

  .instagram {
    padding-top: 8.625rem;
  }

  .instagram {
    padding-bottom: 4.8125rem;
  }

  .instagram__quote {
    font-size: 3.25rem;
  }

  .instagram__quote {
    margin-bottom: 1.875rem;
  }

  .instagram__signing {
    margin-bottom: 3.75rem;
  }

  .cta {
    padding-top: 7.75rem;
  }

  .cta {
    padding-bottom: 5.625rem;
  }
}

@media (min-width: 85.5em) {
  .cta__content {
    margin-left: 29.375rem;
  }
}

@media (min-width: 45em) {
  .cta__content {
    margin-top: 6.25rem;
  }
}

@media (max-width: 48em) {
  .header__container {
    gap: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}

@media (max-width: 45em) {
  .cta__decor {
    opacity: 0.3;
  }
}

@media (max-width: 20em) {
  .section-title {
    font-size: 1.5rem;
  }

  .typical-block__title {
    margin-bottom: 0.625rem;
  }

  .typical-block__text {
    margin-bottom: 0.625rem;
  }

  .title {
    font-size: 2rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__container {
    gap: 1.25rem;
  }

  .header__logo {
    width: 6.25rem;
  }

  .footer-navigation {
    padding-bottom: 0.625rem;
  }

  .footer-navigation__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .footer-navigation__text:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .footer-remark {
    padding-top: 0.3125rem;
  }

  .footer-remark {
    padding-bottom: 0.625rem;
  }

  .footer-bottom__container-big {
    padding-top: 0.625rem;
  }

  .footer-bottom__container-big {
    padding-bottom: 0.625rem;
  }

  .page__insertion {
    margin-bottom: 1.875rem;
  }

  .page__whoweare {
    margin-bottom: 3.125rem;
  }

  .page__instagram {
    margin-bottom: 1.25rem;
  }

  .page__product {
    margin-bottom: 1.875rem;
  }

  .hero__container {
    padding-top: 6.25rem;
  }

  .hero__container {
    padding-bottom: 6.25rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .whatwedo__title {
    margin-bottom: 0.625rem;
  }

  .instagram {
    padding-top: 1.25rem;
  }

  .instagram {
    padding-bottom: 1.5625rem;
  }

  .instagram__quote {
    font-size: 1.875rem;
  }

  .instagram__quote {
    margin-bottom: 0.9375rem;
  }

  .instagram__signing {
    margin-bottom: 0.9375rem;
  }

  .cta {
    padding-top: 1.875rem;
  }

  .cta {
    padding-bottom: 4.375rem;
  }

  .cta__content {
    margin-top: 1.875rem;
  }
}

@media (max-width: 70.625em) {
  .hero__decor {
    right: 0;
  }
}

@media (max-width: 65.625em) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 59.375em) {
  .typical-block__container {
    gap: 1.25rem;
  }

  .typical-block__container {
    display: block;
  }

  .typical-block__image {
    margin-bottom: 2.5rem;
  }

  .typical-block__text {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__button {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #cbdd7a;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu {
    right: 0;
  }

  .menu__icon {
    display: block;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    font-size: 1.5rem;
    margin-top: 6.875rem;
    margin-right: 1.25rem;
    text-align: end;
  }

  .icon-menu {
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.125rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #697B03;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer-navigation__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom__logo {
    display: none;
  }

  .hero__decor {
    top: 20%;
    opacity: 0.5;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 31.25em) {
  .footer-bottom__actives {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .menu-bottom__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 28.125em) {
  .button {
    width: 100%;
  }

  .footer-navigation__container {
    display: block;
    text-align: center;
  }

  .footer-navigation__column:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 24.375em) {
  .footer-bottom__container-big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 20em) and (max-width: 72.5em) {
@supports (font-size: clamp( 1.5rem , 1.3095238095rem  +  0.9523809524vw , 2rem )) {
    .section-title {
      font-size: clamp( 1.5rem , 1.3095238095rem  +  0.9523809524vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3095238095rem  +  0.9523809524vw , 2rem )) {
    .section-title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.2797619048rem  +  4.5238095238vw , 3rem )) {
    .typical-block__title {
      margin-bottom: clamp( 0.625rem , -0.2797619048rem  +  4.5238095238vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.2797619048rem  +  4.5238095238vw , 3rem )) {
    .typical-block__title {
      margin-bottom: calc(0.625rem + 2.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2916666667rem  +  1.6666666667vw , 1.5rem )) {
    .typical-block__text {
      margin-bottom: clamp( 0.625rem , 0.2916666667rem  +  1.6666666667vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2916666667rem  +  1.6666666667vw , 1.5rem )) {
    .typical-block__text {
      margin-bottom: calc(0.625rem + 0.875 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem )) {
    .title {
      font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem )) {
    .title {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem )) {
    .header {
      padding-top: calc(1.25rem + 2.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2023809524rem  +  5.2380952381vw , 4rem )) {
    .header {
      padding-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (width: clamp( 6.25rem , 5.1547619048rem  +  5.4761904762vw , 9.125rem )) {
    .header__logo {
      width: clamp( 6.25rem , 5.1547619048rem  +  5.4761904762vw , 9.125rem );
    }
}

@supports not (width: clamp( 6.25rem , 5.1547619048rem  +  5.4761904762vw , 9.125rem )) {
    .header__logo {
      width: calc(6.25rem + 2.875 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3869047619rem  +  1.1904761905vw , 1.25rem )) {
    .footer-navigation {
      padding-bottom: clamp( 0.625rem , 0.3869047619rem  +  1.1904761905vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3869047619rem  +  1.1904761905vw , 1.25rem )) {
    .footer-navigation {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4345238095rem  +  0.9523809524vw , 1.125rem )) {
    .footer-navigation__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4345238095rem  +  0.9523809524vw , 1.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4345238095rem  +  0.9523809524vw , 1.125rem )) {
    .footer-navigation__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.0267857143rem  +  1.4285714286vw , 1.0625rem )) {
    .footer-navigation__text:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , 0.0267857143rem  +  1.4285714286vw , 1.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.0267857143rem  +  1.4285714286vw , 1.0625rem )) {
    .footer-navigation__text:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 0.3125rem , -0.2589285714rem  +  2.8571428571vw , 1.8125rem )) {
    .footer-remark {
      padding-top: clamp( 0.3125rem , -0.2589285714rem  +  2.8571428571vw , 1.8125rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , -0.2589285714rem  +  2.8571428571vw , 1.8125rem )) {
    .footer-remark {
      padding-top: calc(0.3125rem + 1.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1726190476rem  +  2.2619047619vw , 1.8125rem )) {
    .footer-remark {
      padding-bottom: clamp( 0.625rem , 0.1726190476rem  +  2.2619047619vw , 1.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1726190476rem  +  2.2619047619vw , 1.8125rem )) {
    .footer-remark {
      padding-bottom: calc(0.625rem + 1.1875 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem )) {
    .footer-bottom__container-big {
      padding-top: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem )) {
    .footer-bottom__container-big {
      padding-top: calc(0.625rem + 1.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem )) {
    .footer-bottom__container-big {
      padding-bottom: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.005952381rem  +  3.0952380952vw , 2.25rem )) {
    .footer-bottom__container-big {
      padding-bottom: calc(0.625rem + 1.625 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem )) {
    .page__insertion {
      margin-bottom: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem )) {
    .page__insertion {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.3392857143rem  +  8.9285714286vw , 7.8125rem )) {
    .page__whoweare {
      margin-bottom: clamp( 3.125rem , 1.3392857143rem  +  8.9285714286vw , 7.8125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.3392857143rem  +  8.9285714286vw , 7.8125rem )) {
    .page__whoweare {
      margin-bottom: calc(3.125rem + 4.6875 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.9404761905rem  +  10.9523809524vw , 7rem )) {
    .page__instagram {
      margin-bottom: clamp( 1.25rem , -0.9404761905rem  +  10.9523809524vw , 7rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.9404761905rem  +  10.9523809524vw , 7rem )) {
    .page__instagram {
      margin-bottom: calc(1.25rem + 5.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.8392857143rem  +  13.5714285714vw , 9rem )) {
    .page__product {
      margin-bottom: clamp( 1.875rem , -0.8392857143rem  +  13.5714285714vw , 9rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.8392857143rem  +  13.5714285714vw , 9rem )) {
    .page__product {
      margin-bottom: calc(1.875rem + 7.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 6.25rem , 2.4404761905rem  +  19.0476190476vw , 16.25rem )) {
    .hero__container {
      padding-top: clamp( 6.25rem , 2.4404761905rem  +  19.0476190476vw , 16.25rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 2.4404761905rem  +  19.0476190476vw , 16.25rem )) {
    .hero__container {
      padding-top: calc(6.25rem + 10 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 2.6785714286rem  +  17.8571428571vw , 15.625rem )) {
    .hero__container {
      padding-bottom: clamp( 6.25rem , 2.6785714286rem  +  17.8571428571vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 2.6785714286rem  +  17.8571428571vw , 15.625rem )) {
    .hero__container {
      padding-bottom: calc(6.25rem + 9.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem )) {
    .hero__title {
      font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.7142857143rem  +  1.4285714286vw , 2.75rem )) {
    .hero__title {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -0.4464285714rem  +  5.3571428571vw , 3.4375rem )) {
    .whatwedo__title {
      margin-bottom: clamp( 0.625rem , -0.4464285714rem  +  5.3571428571vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.4464285714rem  +  5.3571428571vw , 3.4375rem )) {
    .whatwedo__title {
      margin-bottom: calc(0.625rem + 2.8125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.5595238095rem  +  14.0476190476vw , 8.625rem )) {
    .instagram {
      padding-top: clamp( 1.25rem , -1.5595238095rem  +  14.0476190476vw , 8.625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.5595238095rem  +  14.0476190476vw , 8.625rem )) {
    .instagram {
      padding-top: calc(1.25rem + 7.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.3244047619rem  +  6.1904761905vw , 4.8125rem )) {
    .instagram {
      padding-bottom: clamp( 1.5625rem , 0.3244047619rem  +  6.1904761905vw , 4.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.3244047619rem  +  6.1904761905vw , 4.8125rem )) {
    .instagram {
      padding-bottom: calc(1.5625rem + 3.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3511904762rem  +  2.619047619vw , 3.25rem )) {
    .instagram__quote {
      font-size: clamp( 1.875rem , 1.3511904762rem  +  2.619047619vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3511904762rem  +  2.619047619vw , 3.25rem )) {
    .instagram__quote {
      font-size: calc(1.875rem + 1.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5803571429rem  +  1.7857142857vw , 1.875rem )) {
    .instagram__quote {
      margin-bottom: clamp( 0.9375rem , 0.5803571429rem  +  1.7857142857vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5803571429rem  +  1.7857142857vw , 1.875rem )) {
    .instagram__quote {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 3.75rem )) {
    .instagram__signing {
      margin-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.1339285714rem  +  5.3571428571vw , 3.75rem )) {
    .instagram__signing {
      margin-bottom: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.3630952381rem  +  11.1904761905vw , 7.75rem )) {
    .cta {
      padding-top: clamp( 1.875rem , -0.3630952381rem  +  11.1904761905vw , 7.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.3630952381rem  +  11.1904761905vw , 7.75rem )) {
    .cta {
      padding-top: calc(1.875rem + 5.875 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem )) {
    .cta {
      padding-bottom: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem )) {
    .cta {
      padding-bottom: calc(4.375rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}
}

@media (min-width: 59.375em) and (max-width: 70.625em) {
@supports (gap: clamp( 1.25rem , -9.3055555556rem  +  17.7777777778vw , 3.25rem )) {
    .typical-block__container {
      gap: clamp( 1.25rem , -9.3055555556rem  +  17.7777777778vw , 3.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -9.3055555556rem  +  17.7777777778vw , 3.25rem )) {
    .typical-block__container {
      gap: calc(1.25rem + 2 * (100vw - 59.375rem) / 11.25);
    }
}
}

@media (min-width: 48em) and (max-width: 70.625em) {
@supports (gap: clamp( 1.25rem , -2.4627071823rem  +  7.7348066298vw , 3rem )) {
    .header__container {
      gap: clamp( 1.25rem , -2.4627071823rem  +  7.7348066298vw , 3rem );
    }
}

@supports not (gap: clamp( 1.25rem , -2.4627071823rem  +  7.7348066298vw , 3rem )) {
    .header__container {
      gap: calc(1.25rem + 1.75 * (100vw - 48rem) / 22.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem )) or (column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem );
         -moz-column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem );
              column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem )) or (column-gap: clamp( 0.625rem , -1.6291436464rem  +  4.6961325967vw , 1.6875rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 1.0625 * (100vw - 48rem) / 22.625);
         -moz-column-gap: calc(0.625rem + 1.0625 * (100vw - 48rem) / 22.625);
              column-gap: calc(0.625rem + 1.0625 * (100vw - 48rem) / 22.625);
    }
}
}

@media (min-width: 20em) and (max-width: 47.998125em) {
@supports (gap: clamp( 1.25rem , -0.5358338728rem  +  8.929169364vw , 3.75rem )) {
    .header__container {
      gap: clamp( 1.25rem , -0.5358338728rem  +  8.929169364vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5358338728rem  +  8.929169364vw , 3.75rem )) {
    .header__container {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 27.998125);
    }
}
}

@media (min-width: 60em) and (max-width: 85.5em) {
@supports (margin-left: clamp( 18.75rem , -6.25rem  +  41.6666666667vw , 29.375rem )) {
    .cta__content {
      margin-left: clamp( 18.75rem , -6.25rem  +  41.6666666667vw , 29.375rem );
    }
}

@supports not (margin-left: clamp( 18.75rem , -6.25rem  +  41.6666666667vw , 29.375rem )) {
    .cta__content {
      margin-left: calc(18.75rem + 10.625 * (100vw - 60rem) / 25.5);
    }
}
}

@media (min-width: 45em) and (max-width: 59.99875em) {
@supports (margin-left: clamp( 12.5rem , -6.2515626302rem  +  41.6701391783vw , 18.75rem )) {
    .cta__content {
      margin-left: clamp( 12.5rem , -6.2515626302rem  +  41.6701391783vw , 18.75rem );
    }
}

@supports not (margin-left: clamp( 12.5rem , -6.2515626302rem  +  41.6701391783vw , 18.75rem )) {
    .cta__content {
      margin-left: calc(12.5rem + 6.25 * (100vw - 45rem) / 14.99875);
    }
}
}

@media (min-width: 20em) and (max-width: 45em) {
@supports (margin-top: clamp( 1.875rem , -1.625rem  +  17.5vw , 6.25rem )) {
    .cta__content {
      margin-top: clamp( 1.875rem , -1.625rem  +  17.5vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , -1.625rem  +  17.5vw , 6.25rem )) {
    .cta__content {
      margin-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 25);
    }
}
}

@media (any-hover: hover) {
  .button--filled:hover {
    color: #697B03;
    background-color: #cbdd7a;
  }

  .button--framed-olive:hover {
    background-color: #cbdd7a;
  }

  .button--framed-brown:hover {
    background-color: #e3c300;
  }
}

.webp .hero{ background: url(../img/hero-bg.webp) center top/100% 100% no-repeat; }

.webp .instagram{ background: url(../img/health-bg.webp) center top/100% 100% no-repeat; }

.webp .cta{ background: url(../img/letsdo-bg.webp) center top/100% 100% no-repeat; }